* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ececec;
}
.content {
  max-width: 700px;
}
.note-text {
  padding-bottom: 1em;
}

/* OVERWRITE */
.row {
  margin-bottom: 0;
}
.completed {
  text-decoration: line-through;
}
.note-form {
  position: relative;
}
.close-note-form {
  position: absolute;
  right: 1em;
  cursor: pointer;
  z-index: 1;
}
.add-note-btn {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
}

/* END-OVERWRITE */
@media only screen and (min-width: 992px) {
  .note-text {
    padding-bottom: 0;
  }
  .add-note-btn {
    bottom: 2.5em;
    right: 2.5em;
  }
}
